DATABASE_URL=postgres://user:password@localhost:5432/artsgoz?sslmode=disable
HTTP_ADDRESS=:3000
LOG_LEVEL=debug

# Alternatively omit DATABASE_URL and load it from GCP Secret Manager.
GCP_PROJECT_ID=
GCP_SECRET_ID=
GCP_SECRET_VERSION=latest
