DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=artsgoz
DB_SSL_MODE=disable
PORT=3000
GIN_MODE=debug
LOG_LEVEL=debug

GCP_PROJECT_ID=
GCP_SECRET_ID=
GCP_SECRET_VERSION=latest
